/* Global CSS Variables: https://www.w3schools.com/css/css3_variables.asp */
/* Reference these in your CSS to get the same color as the mockups */
:root {
    --sidebar-width: 240px;
    --text-color: rgb(50, 50, 50);
    --background-color: #ffffff;
    --light-background-color: #f4f4f4;
    --nav-bar-color: #ffffff;
    --selected-color: rgb(229, 241, 253);
    --action-text-color: #ffffff;
    --action-color: rgb(58, 99, 197);
    --border-color: darkgray;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
 	background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

.material-icons {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

button, input[type=submit]  {
    cursor: pointer;
}

textarea:focus, input:focus {
    outline: none;
}

textarea{
    font-family: 'Courier New';
    padding: 10px 5px;
}

.row {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.row2 {
    position: absolute;
    display: flex;
    top: 50px;
    left: 0;
    bottom: 1px;
    right: 0;
}

.main {
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    flex: auto;
}

.main2{
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color) ;
    flex: auto;
    display: none;
}

.logo {
    background: var(--background-color);
    width : var(--sidebar-width);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.profile{
    width : 40px;
    height : 40px;
    border-radius: 70%;
    position: relative;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    float:left;
    cursor: pointer;
}

.title{
    font: bold;
    font-size: 1em;
    position: relative;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.text {
    background: var(--background-color);
    flex: auto;
}

.sidebar {
    background: var(--background-color);
    width : var(--sidebar-width);
    border-right: 1px solid var(--border-color);
}

.searchbar{
    height: 50px;
    border-bottom: 1px dotted black;
}

.notelist{
    overflow: scroll;
}

.note{
    font-family: Verdana, sans-serif;
    padding: 8px 4px;
    height: 50px;
    width: var(--sidebar-width);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px dotted black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.curdate{
    font-size: 0.6em;
}

.notesearch{
    position: relative;
    border: none;
    top: 5px;
    left: 10px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 12px 0;
    display: inline;
}

.select{
    width: 100%;
    padding: 10px;
    margin: 5px 0 12px 0;
    display: inline;
}


/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}


/* Float cancel and signup buttons and add an equal width */
.savebtn{
    border-radius: 10px;
    color: white;
    background: cornflowerblue;
    width:100px;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 50px;

}

/* Modal Content/Box */
.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 25px;
    border: 1px solid #ffffff;
    width: 500px; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: relative;
    float:right;
    left: 300px;
    font-size: 40px;
    color: black;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: flex;
}

.prof,
.editp,
.clearfix{
    display:flex;
}

.newimg{
    position: relative;
    top: 15px;
    transform: translate(-50%, -50%);
    left: 40%;
}

.removeimg{
    position: relative;
    top: 15px;
    transform: translate(-50%, -50%);
    left: 50%;
}

.logout{
    position: relative;
    top: 50px;
    transform: translate(-50%, -50%);
    left: 70%;
}
/* These rules only apply if the window's max-width is 500px or less */
@media all and (max-width: 500px) {
    .logo {
        display: none;
    }
    .sidebar{
        display: none;
    }
    .main{
        display: none;
    }
    .main2{
        display: block;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        padding-top: 50px;
        background: #ffffff;

    }

    /* Modal Content/Box */
    .modal-content {
        position:fixed;
        top: 50%;
        background-color: #ffffff;
        width: 100%; /* Could be more or less, depending on screen size */
        height: 100%;
    }
}